.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
    justify-content: center;
    row-gap: 4px;

}

.galleryCard {
    margin-top: 40px;
    width: 280px;
    height: 220px;
    border: solid #808080 1px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galleryCard:hover {
    transform: scale(1.1);
}

.galleryImg {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}